.button {
    color: var(--gray2);
    background-color: var(--cotton2);
    border: 1px solid var(--ice);
    width: 352px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .imageIcon {
        width: 19px;
        height: 20px;
        padding-right: 12px;
    }
    p {
        font-weight: 500;
        line-height: 24px;
    }
}
