.content {
    .list {
        display: flex;
        padding-inline-start: 0px;
        margin-block-start: 0em;
        margin: 0;
        .item {
            padding: 1rem;
            padding-left: 0rem;
            display: inline;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 132.5%;
            color: var(--white);
            min-width: fit-content;
            a{
                text-decoration: none;
            }
        }
    }
}
