.content {
  display: flex;
  justify-content: center;
  max-height: 50px;
  min-height: 50px;
  background-color: var(--white);
  .image {
    display: inline-flex;
    align-items: center;
    background-color: var(--yellow);
    width: 728px;
  }
  @media only screen and (max-width: 768px) {
    .image {
      width: 300px;
    }
  }
}
