.content {
    display: flex;
    flex-direction: column;
    .main {
        display: flex;
        flex-direction: row;
        padding-top: 55px;
        .articles {
            width: 100%;
            max-width: 768px;
            .firstRow {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                &__item {
                    width: 100%;
                    max-width: 352px;
                }
                &__item:first-child {
                    padding-right: 30px;
                }
            }
            .secondRow {
                display: flex;
                flex-direction: row;
                padding-top: 32px;
                &__posts {
                    display: flex;
                    flex-direction: column;
                    &__item:not(:first-child) {
                        padding-top: 1rem;
                    }
                }
                &__advertisement {
                    justify-content: center;
                    display: flex;
                }
            }
        }
        .advertisement {
            justify-content: center;
            display: flex;
        }
    }
    .loadMore {
        display: flex;
        padding-top: 20px;
        padding-bottom: 8px;
        max-width: 768px;
        width: 100%;
        justify-content: center;
        &__button {
            cursor: pointer;
            width: 100%;
            max-width: 246px;
            height: 48px;
            background: var(--green);
            border: 0px solid;
            border-radius: 3px;

            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: var(--white);
        }
    }

    @media only screen and (max-width: 768px) {
        .main {
            flex-direction: column;
            padding-top: 0px;
            .articles {
                flex-direction: column;
                max-width: 768px;
                .firstRow {
                    flex-direction: column;
                    padding-top: 0rem;
                    &__item {
                        max-width: 100%;
                        padding-top: 24px;
                    }
                }
                .secondRow {
                    flex-direction: column;
                    &__advertisement {
                        width: 100%;
                        padding-top: 1.7rem;
                    }
                }
            }
            .advertisement {
                padding-top: 27px;
            }
        }
        .loadMore {
            display: flex;
            padding-top: 16px;
            justify-content: center;
            &__button {
                margin-left: 0rem;
                max-width: 100%;
                height: 44px;
                font-size: 15px;
                text-align: center;
            }
        }
    }
}

.articleTitle {
    max-width: 510px !important;
}
