.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 4rem;
    &__first {
        .label {
            color: var(--black);
            padding-bottom: 1.25rem;
        }
        min-width: 50%;
        display: flex;
        flex-direction: column;
        padding-top: 2rem;

        .subscription {
            display: flex;
            flex-direction: row;
            margin-right: 1rem;
            padding-right: 1rem;
            border-right: 2px solid var(--ice);
            &__input {
                background: var(--cotton);
                border: 1px solid var(--ice);
                box-sizing: border-box;
                min-width: 360px;
                height: 48px;
                padding-left: 16px;
                font-family: Roboto;
                font-style: italic;
                font-weight: normal;
                font-size: 15px;
                line-height: 24px;
                color: #7c7c7c;
            }
            &__submit {
                margin-left: 1rem;
                width: 119px;
                height: 48px;
                background: var(--green);
                border: 0px solid;
                border-radius: 3px;

                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: var(--white);
            }
        }
    }
    &__second {
        .label {
            color: var(--black);
            padding-bottom: 1.25rem;
        }
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-left: 3.33%;
        .socialNetwork {
            display: flex;
            flex-direction: row;
        }
    }

    @media only screen and (max-width: 1150px) {
        margin: 0 24px;
    }

    @media only screen and (max-width: 768px) {
        margin: 0 auto;
        flex-direction: column;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 2rem;
        &__first {
            padding-top: 0rem;
            min-width: 100%;
            .subscription {
                flex-direction: column;
                width: 100%;
                border-right: 0px;
                border-bottom: 1px;
                &__input {
                    min-width: 100%;
                }
                &__submit {
                    min-width: 100%;
                    margin: 1rem 0rem 2rem 0rem;
                }
            }
        }
        &__second {
            border-top: 1px solid var(--ice);
            flex-direction: row;
            justify-content: space-between;
            padding-left: 0rem;
            .socialNetwork {
                display: flex;
                flex-direction: row;
            }
        }
    }
}

.inner {
    border-top: 1px solid var(--ice);
    max-width: 1120px;
    margin: 0 auto;
}